/*
 * @Author: haobrother 
 * @Date: 2019-09-06 20:04:44 
 * @Last Modified by: haobrother
 * @Last Modified time: 2019-09-06 20:13:21
 */

.cate-select{
    width: 200px;
    margin-right: 15px;
    display: inline-block;
}