/*
 * @Author: haobrother 
 * @Date: 2019-09-06 18:23:52 
 * @Last Modified by: haobrother
 * @Last Modified time: 2019-09-06 18:28:02
 */

.page-header-right{
    position: absolute;
    right: 15px;
    top: 12px;
}